<h3 class="center">Comments</h3>
  <%= for comment <- @post.comments do %>
  <div class="comment-entry-container">
    <div class="comment-entry-name"><strong><%= comment.name %></strong></div>
    <div class="entry">
      <%= comment.content %>
    </div>
  </div>
<% end %>