<h1 class="page-heading"><%= @post.title %></h1>
<div style="text-align: center;">
  <%= get_formatted_date(@post) %>
</div>
<hr>
<div class="post-contents">
  <%= raw(get_formatted_post(@post)) %>
</div>

<%= link "Back", to: post_path(@conn, :index) %>
<%= if @current_user do %>
  | <%= link "Edit", to: post_path(@conn, :edit, @post) %>
<% end %>
