<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Joe Sweeney</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.0/build/grids-responsive-min.css">
    <!--<![endif]-->
  </head>

  <body>
    <div class="container">
      <%= if @current_user do %>
        <div class="header">
          <span style="display: inline;">Signed in as: <strong><%= @current_user.username %></strong></span>
          <div style="float: right;">
            <%= link "Log out", to: session_path(@conn, :delete, @current_user), method: "delete" %>
          </div>
        </div>
      <% end %>

      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>
      <% end %>

      <%= if get_flash(@conn, :error) do %>
        <div class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></div>
      <% end %>
      
      <div class="main">
        <%= render @view_module, @view_template, assigns %>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
