fieldset {
  min-width: 100%;
}

.post-body-input {
  margin-top: 15px;
}

#preview {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 15px;
  margin-top: 15px;
  word-wrap: break-word;
}

#post-form {
  margin-top: 15px;
}

#post-form > fieldset {
  padding-top: 0px;
}

#published-label {
  margin: 0px;
}