@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  color: #566b78;
}

h1,
h2,
strong {
  color: #333;
}

a {
  text-decoration: none;
  color: #e81c4f;
}

hr {
  border: 0;
  width: 40%;
  border-bottom: 1px solid #eee;
  margin: 50px auto;
}

.pure-table thead {
  background-color: #f5f7f9 !important;
}

.help-block {
  color: #a94442;
}

.nav-buttons {
  padding-top: 4em;
}

.nav-buttons > form.link {
  display: inline-block;
}

.form-buttons {
  padding-top: 15px;
}