.container {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em;
}

.header {
  padding-bottom: 30px;
}

.page-heading {
  text-align: center;
}

.post-entry {
  padding-bottom: 15px;
}