.container {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 1em;
}

.home-container {
  padding-top: 4em;
}

.header {
  padding-bottom: 30px;
}

.page-heading {
  text-align: center;
}

.post-entry {
  padding-bottom: 15px;
}

.help-block {
  color: #a94442;
}

.indent {
  padding-left: 30px;
}